@model IEnumerable<Nibo.OfxReader.Website.Models.BankStatement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contas bancárias</h2>

<table class="table">
    <tr>
        <th>
            Código do banco
        </th>
        <th>
            Número da conta
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>                
                @Html.ActionLink("Abrir extrato", "Details", new { id = item.BankStatementId })
            </td>
        </tr>
    }

</table>